<h2>Оформление заказа</h2>
<br>
<form action="/confirm">
	
	 <div class="form-group">
	    <label>Ваше имя</label>
	    <input name="order[name]" type="text" class="form-control" placeholder="введите ваше имя" value="<%=params[:order][:name] if params[:order]%>">
	  </div>
	
	  <div class="form-group">
	    <label>Ваш телефон</label>
	    <input name="order[phone]" type="text" class="form-control" placeholder="введите номер телефона" value="<%=params[:order][:phone] if params[:order]%>">
	  </div>
	
	  <div class="form-group">
	    <label>Адрес доставки</label>
	    <input name="order[adress]" type="text" class="form-control" placeholder="введите адрес доставки" value="<%=params[:order][:adress] if params[:order]%>">
	  </div>
	<br>

	<table class="table"> 
	<caption>Состав заказа: </caption>
	  <thead> 
	    <tr> 
	      <th>№</th> 
	      <th>Product</th> 
	      <th>Size</th> 
	      <th>Amount</th> 
	      <th>Price</th> 
	      <th>Sum</th>
	    </tr>
	  </thead> 
	  <tbody>
	  <% ord_list = @order.split(/,/).map {|val| val.split(/=/).map { |pr| pr.split(/_/)}.flatten} %>
	  <% total = 0.0; total_amount = 0 %>
	    <% ord_list.each_with_index do |pos, i| pr = Product.find(pos[1]); %>
	    	<% total 		+= pos[2].to_i*pr.price.to_i %>
	    	<% total_amount += pos[2].to_i %>
	    <tr>
	        <th scope='row'><%=i+1%></th>
	        <td><%=pr.title%></td> 
	        <td><%=pr.size%></td> 
	        <td><%=pos[2].to_f%></td> 
	        <td><%=pr.price.to_f%></td> 
	        <td><%=pos[2].to_f*pr.price.to_f%></td> 
	      <tr>
	    <% end %>
  		<tr>
	        <th scope='row'>Total:</th>
	        <td></td> 
	        <td></td> 
	        <td><b><%= total_amount.to_f %></b></td> 
	        <td></td>
	        <td><b><%= total %></b></td>
	    <tr>
      </tbody> 
	</table>
	
	<input id = "order" name="order[content]" type="hidden" value="<%=@order%>">
	<input type="submit" formmethod="POST" name="confirm" value="Confirm" class="btn btn-primary"">
	<input type="submit" formmethod="GET" name="confirm" value="Cancel" class="btn btn-danger" onclick="clear_cart()">
	
</form>

